<div>
  <h2 class='centered greeting'>Welcome <%= @user.name%>!</h2>
  <div class='allVotes'>
    <% @presenters.each do |presenter| %>
      <h1 class='p-heading'> <%=presenter.politician%> (<%=presenter.chamber %>) </h1> 
      <div id='index-buttons'>
        <p class='centered index-button'><%=link_to "Unfollow", "/follow?name=#{presenter.politician}", method: :delete, class: 'button' %> </p>
        <h4 class='centered index-button' ><%= link_to "See More Votes", "/politician?name=#{presenter.politician}", class: 'button' %></h4>
      </div>
      <div class='politicianVotes'>
        <h4 id="recent-tag">Most Recent Vote:</h4>
          <div class='vote'>
            <ul>
            <h4 class="title">Title: <%=presenter.recent_bill_title%></h4>
            <li class="p-vote"><%=presenter.politician%> voted <%=presenter.vote%> on this bill.</li>
            <li class="spread">There were <%=presenter.recent_bill_votes_for%> votes in favor, <%= presenter.recent_bill_votes_against%> votes against, and <%=presenter.abstentions%> abstentions.</li>
            <li class="date">Vote took place on <%=presenter.recent_bill_date%> at <%=presenter.recent_bill_time%></li>
            </ul>
          </div>
      </div>
   <% end %>
  </div>
</div>
