<div>
  <h2 class='centered'>Welcome <%= @user.name%>!</h2>
  <div class='allVotes'>
    <% @votes.each do |politician_vote| %>
      <h1 class='p-heading'> <%="#{politician_vote.politician}"%> (<%="#{politician_vote.votes.first.chamber}" %>) </h1> 
      <div id='index-buttons'>
        <p class='centered index-button'><%=link_to "Unfollow", "/follow?name=#{politician_vote.politician}", method: :delete, class: 'button' %> </p>
        <h4 class='centered index-button' ><%= link_to "See More Votes", "/politician?name=#{politician_vote.politician}", class: 'button' %></h4>
      </div>
      <div class='politicianVotes'>
          <div class='vote'>
            <ul>
            <h4 class="title">Title: <%=politician_vote.votes.first.bill_title%></h4>
            <li class="p-vote"><%=politician_vote.politician%> voted <%= politician_vote.votes.first.vote_of_politician%> on this bill.</li>
            <li class="spread">There were <%=politician_vote.votes.first.votes_for%> votes in favor, <%= politician_vote.votes.first.votes_against%> votes against, and <%=politician_vote.votes.first.abstentions%> abstentions.</li>
            <li class="date">Vote took place on <%=politician_vote.votes.first.date%> at <%=politician_vote.votes.first.time%></li>
            </ul>
          </div>
      </div>
   <% end %>
  </div>
</div>
